@charset "ISO-8859-1";
html, body{  
        /* background-image: url('https://images.unsplash.com/photo-1562428305-85e306c1a8ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80'); */
    font-family:'Didact Gothic';
}
#mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    width: 100%;
}

#generalInformation{
    text-align: center;
       
}

.title{
    font-size: 85px;
    position: relative;
    right: 30%;
    top: 20px;
    color: rgb(0, 0, 0);
       
}

.commandPost{
    background-image: url("https://www.halcyonproducts.com/content/images/thumbs/0000124_mobile-command-post-model-number-mcp-01-includes-commandpak.jpeg")
}

.featurette-heading{
    /* color: white */
}

.head{
    background-image: url('https://images.unsplash.com/photo-1562428305-85e306c1a8ed?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
    background-repeat: round;
    height: 50%;
}

p{
    font-size: 25px;
    margin-top: 110px;
    position: relative;
    top: 20px;
}

.begin{
    margin-top: -100px;
    font-size: 25px;
   
}

.info{
    position: absolute;
    top: 170px;
    right: 350px;
    color: rgb(255, 255, 255);
}

.marketing{
    margin-top: 10px;
}

.lead{
    margin: auto;
}